<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Магазин</title>
</head>
<body>
    <h1>{{header}}</h1>
    <style>
        ul {list-style-type: "\2705";}
    </style>
    <ul>
        <li><h2>{{products.flower1}}  <button>{{button}}</button></h2></li>
        <li><h2>{{products.flower2}}  <button>{{button}}</button></h2></li>
        <li><h2>{{products.flower3}}  <button>{{button}}</button></h2></li>
    </ul>
    <a href="/main"><button>Вернуться на главную страницу</button></a>
</body>
</html>